{{! make the _globals object in course.json available to this template}}
{{import_globals}}

<div role="list" class="toc__group-item-content-objects">

  {{#each this}}
  <div role="listitem" class="toc__item drawer__item{{#toc__when this "_isLocked"}} is-locked{{/toc__when}}">

    <button role="button" class="toc__item-btn drawer__item-btn{{#toc__isClickable this}}{{else}} is-disabled{{/toc__isClickable}}" tabindex="0" data-toc-id="{{this}}" aria-label="{{toc__completionAria this}}">

      {{#toc__isClickable this}}
      {{else}}
      <span role="button" class="aria-label prevent-default" tabindex="0">
        {{toc__completionAria this}}
      </span>
      {{/toc__isClickable}}

      <div class="toc__item-title drawer__item-title">
        <div class="toc__item-title-inner drawer__item-title-inner">
          {{{toc__getTitle this}}}
        </div>
      </div>

      {{#toc__when this "_isLocked"}}
      <div class="toc__item-icon">
        <div class="icon"></div>
      </div>
      {{else}}
      {{#toc__when this "_isOptional"}}
      <div class="toc__item-optional-text">
        <div class="toc__item-optional-text-inner">
          {{@root._globals._extensions._toc.optionalContent}}
        </div>
      </div>
      {{else}}
      <div class="toc__indicator">
        <div class="toc__indicator-inner">
          <div class="toc__indicator-bar" style="width: {{toc__completionPercentage this}}%"></div>
        </div>
      </div>
      {{/toc__when}}
      {{/toc__when}}

    </button>

  </div>
  {{/each}}

</div>
